<div class="container-fluid">
  <div class="col-6">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Nombre común</th>
          <th class="h4">Tipo</th>
          <th class="h4">Clima</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of plants">
          <td>
            <dd>{{c.name}}</dd>
          </td>
          <td>
            <dd>{{c.type}}</dd>
          </td>
          <td>
            <dd>{{c.wheather}}</dd>
          </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
